# This git repo is located at the home directory.
# Ignore everything by default, then allow only analysis artifacts.
*

# Keep git control files
!.gitignore

# Project documentation and script
!README.md
!REPORT_INDEX.md
!download_cexplorer_pools_to_csv.py

# Project folders
!data/
!data/**
!correlation/
!correlation/**
!regression/
!regression/**
